
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
/* shared styles */
.display-flex{
  display: flex ;
}

/* dark 02 */
.text-gray{
  color: #424242;
}
/* dark03 */
.text-light-gray{
 color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight:600;
  border-radius: 8px;
  border: none;
}
main{
max-width: 1440px;
margin: 0 auto;

}
/* header styles */






/* navbar related style */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.brand{
font-weight: 700;
font-size: 3rem;
}

.nav-link{
  text-decoration: none;
  font-weight: 500;
}
.navbar, .banner{
  max-width: 1400px; 
  margin: 0 auto;
  text-align: center;
}
/* banner related styles */

.banner-content{

max-width: 850px;
margin: 0 auto;
margin-bottom: 50px;
}
.banner-tittle{
  font-weight: 700;
  font-size: 4rem;

}
.banner-image{
width: 100%;

}
/* team and features related styles */
.teams{
  align-items: center;
}
.team-img-container{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 24px;
}
main > section{
  margin-top: 130px;
}
.our-features{
  margin-left: 130px;
  max-width: 530px;
}
.feature-tittle{
  font-size: 2.8rem;
  font-weight: 700;
}
#quick-list
{font-weight: 500;

}
/* responsive query */
@media screen and (max-width: 576px) {
 .navbar, .nav-links{
  flex-direction: column;
 } 


}


